

    <div class="background bg-black">


    <div class="container mt-2">
      <div class="row border bg-light p-5"  >

        <div class="col-lg-8 ">
          <h3> Yuri W. </h3>
          <h1 class="font-weight-bold">Apolinario</h1>

        </div>

          <div class="col-lg text-right">
            Lista de dados<br>
            Endereço<br>
            (44)-9-9113-7542

          </div>


      </div>
      <div class="row border p-5">
            <div class="col-lg-8 ">
              <i class="fa fa-dot-circle-o" aria-hidden="true"></i>

              <h3 class="font-weight-bold">Objetivos</h3>
              <p>asdasdasdsd</p>
            </div>

            <div class="col-lg-8 ">
              <i class="fa fa-graduation-cap" aria-hidden="true"></i>

              <h3 class="font-weight-bold">Educação</h3>
              <p>asdasdasdsd</p>
            </div>

            <div class="col-lg-8 ">
              <i class="fa fa-briefcase" aria-hidden="true"></i>
              <h3 class="font-weight-bold">Experiencia</h3>
              <p>asdasdasdsd</p>
            </div>

            <div class="col-lg-8 ">
              <h3 class="font-weight-bold">habilidades</h3>
              <p>asdasdasdsd</p>
            </div>

            <div class="col-lg-8 ">
              <h3 class="font-weight-bold">Atividades</h3>
              <p>asdasdasdsd</p>
            </div>
      </div>

    </div>

  </div>
  
